sudo: required
language: java
jdk:
- openjdk8
branches:
  only:
  - master
  - develop

cache:
  directories:
    - $HOME/.m2

before_install:
- mkdir -p $HOME/.m2; wget -q -O $HOME/.m2/settings.xml https://raw.githubusercontent.com/AtlasOfLivingAustralia/travis-build-configuration/master/travis_maven_settings.xml
- sudo mkdir -p /data/lucene; sudo wget -O /data/lucene/namematching.tgz https://archives.ala.org.au/archives/nameindexes/20171012-lucene5/namematching-20171012-lucene5.tgz
- cd /data/lucene
- sudo tar zxvf namematching.tgz
- ls -laF
- cd $TRAVIS_BUILD_DIR

script: "[ \"${TRAVIS_PULL_REQUEST}\" = \"false\" ] && mvn deploy || mvn install"
env:
  global:
  - secure: ESKmT8MqCMhcmqlBdnhwv/EJOSuUYSAeTDdA/oXBC9g61k6KrxWZorqylh02LOqamg2r1tUn5i+H+L6vT0tEezdyO1+raFE7gMasbDmlPl/tqAKrwsU0x9YpeqFa2N48xlQlGVw4PfavBoeJ5WCwUovakhvmYauAEhc92rIXr7U=
  - secure: NK2s4qQH2cAnHCnOLFxE1vwg7rlBEuz/Nww6bACvkXUOT4YKZdP+nyLQjyxcUTBceKPJPnsF9NK0KulE34153DXBZE+0+b8nPERxc73jIPJgeRJ9HloRW3QuFrgs6H8XvvhKuiHtsMnubh9l+C+rjC9J3JkTKL3KITYoHpHl4b0=
