sudo: required
language: java
jdk:
- oraclejdk8
branches:
  only:
  - master
before_install:
- mkdir -p ~/.m2; wget -q -O ~/.m2/settings.xml https://raw.githubusercontent.com/AtlasOfLivingAustralia/travis-build-configuration/master/travis_maven_settings.xml
- sudo mkdir -p /data/lucene; sudo wget -O /data/lucene/namematching.tgz http://biocache.ala.org.au/archives/nameindexes/20160621/namematching-20160621.tgz
- cd /data/lucene
- sudo tar zxvf namematching.tgz
- sudo ln -s namematching-20160621 namematching
- ls -laF
- cd $TRAVIS_BUILD_DIR

script: "[ \"${TRAVIS_PULL_REQUEST}\" = \"false\" ] && mvn clean install deploy || mvn clean install"
env:
  global:
  - secure: ESKmT8MqCMhcmqlBdnhwv/EJOSuUYSAeTDdA/oXBC9g61k6KrxWZorqylh02LOqamg2r1tUn5i+H+L6vT0tEezdyO1+raFE7gMasbDmlPl/tqAKrwsU0x9YpeqFa2N48xlQlGVw4PfavBoeJ5WCwUovakhvmYauAEhc92rIXr7U=
  - secure: NK2s4qQH2cAnHCnOLFxE1vwg7rlBEuz/Nww6bACvkXUOT4YKZdP+nyLQjyxcUTBceKPJPnsF9NK0KulE34153DXBZE+0+b8nPERxc73jIPJgeRJ9HloRW3QuFrgs6H8XvvhKuiHtsMnubh9l+C+rjC9J3JkTKL3KITYoHpHl4b0=
